/* General Styles */
body {
    font-family: 'Bodoni Moda', serif;
    margin: 0;
    padding: 0;
    background-color: #fafaf5;
    color: #000;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* Header Styles */
header {
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: #007BFF;
}

/* Content Styles */
p {
    text-align: center;
    margin: 20px 0;
    font-size: 25px;
}
h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 60;
}

blockquote {
    font-style: italic;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

